################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New folder (4)/WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/d9e61938-b61c-4728-b9ef-1e4b5000ed9a.vsidx
